<html>
	<meta charset="utf-8">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous">
	</head>

	<script>
		document.addEventListener('DOMContentLoaded', e => {
			document.getElementById('btn-buy').addEventListener('click', e => { window.location = 'buy' })
			document.getElementById('btn-demo').addEventListener('click', e => { window.location = 'https://falcontime.herokuapp.com/' })
		})
	</script>

	<style>
		.box {
			margin-left: 10em;
			margin-right: 10em;
		}
		.title {
			display: block;
			text-align: center;
		}
		.button {
			margin: auto;
			display: block;
			text-align: center;
		}
		.hero-body {
			text-align: center;
		}
	</style>

	<body>
		<div class="container">
			<section class="hero" id="product-head"><div class="hero-body">
				<div class="title">DYNAMIC-DEN</div>
				<p>
					DYNAMIC-DEN is the best software ever made for scheduling flex time periods.
				<br>
					Don't bother with spreadsheet plug-ins that don't work.
				<br>
					Save time with DYNAMIC-DEN.
				</p>
			</div></section>

			<div id="button-parent" style="text-align:center">
				<div id="button-container" style="display:inline-block">
				  <button class="box button is-success" id="btn-demo" style="float:left; text-align:center; margin:10px">Product Demo</button>
				  <button class="box button is-success" id="btn-buy" style="float:left; text-align:center; margin:10px">Pricing & Sign Up</button>
				</div>
			</div>

			<!--<div class="title">Customer testimonials</div>-->

			<div class="box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-128x128">
							<img src="https://cdn.discordapp.com/attachments/109167971741466624/651938201052774411/unknown.png" alt="Picture of Stephen DuVal">
						</figure>
					</div>
					<div class="media-content"><div class="content">
						<p>
							<strong>Stephen DuVal</strong> <small>Principal of Cascade Middle School</small>
							<br>
							Before using DYNAMIC-DEN®, we spent up to 45 minutes a day scheduling our students. Now we spend 5-10 minutes.
						</p>
					</div></div>
				</article>
			</div>
			
			<br><br><br>
			
			<div class="box">
				<article class="media"><div class="media-content">
					<div class="content">
						<p id="product-description-goes-here">
							<br>
							Dynamic-DEN® is the FLEX-time software of choice for Cascade Middle School, Skyview Middle School, and Pacific Crest Middle School in Bend, OR.
						</p>
					</div>
					
					<br>
				</div></article>
			</div>
		</div>
	</body>
</html>

